geneconnect/Coding and Testing/GeneConnectWeb/GeneConnect_caCore_Client/lib/edu.wustl.geneconnect.domain.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="gme://caCORE.cabig/3.0/edu.wustl.geneconnect.domain" xmlns:edu.wustl.geneconnect="gme://caCORE.cabig/3.0/edu.wustl.geneconnect" targetNamespace="gme://caCORE.cabig/3.0/edu.wustl.geneconnect.domain" elementFormDefault="qualified">
  <xs:import namespace="gme://caCORE.cabig/3.0/edu.wustl.geneconnect" schemaLocation="edu.wustl.geneconnect.xsd" />
  <xs:element name="LinkType" type="LinkType" />
  <xs:complexType name="LinkType">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="type" type="xs:string" />
  </xs:complexType>
  <xs:element name="EnsemblPeptide" type="EnsemblPeptide" />
  <xs:complexType name="EnsemblPeptide">
    <xs:complexContent>
      <xs:extension base="ProteinGenomicIdentifier">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EntrezGene" type="EntrezGene" />
  <xs:complexType name="EntrezGene">
    <xs:complexContent>
      <xs:extension base="GeneGenomicIdentifier">
        <xs:sequence />
        <xs:attribute name="genomicIdentifier" type="xs:long" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataSource" type="DataSource" />
  <xs:complexType name="DataSource">
    <xs:sequence />
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:element name="EnsemblGene" type="EnsemblGene" />
  <xs:complexType name="EnsemblGene">
    <xs:complexContent>
      <xs:extension base="GeneGenomicIdentifier">
        <xs:sequence />
        <xs:attribute name="genomicIdentifier" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProteinGenomicIdentifier" type="ProteinGenomicIdentifier" />
  <xs:complexType name="ProteinGenomicIdentifier">
    <xs:complexContent>
      <xs:extension base="GenomicIdentifier">
        <xs:sequence />
        <xs:attribute name="genomicIdentifier" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EnsemblTranscript" type="EnsemblTranscript" />
  <xs:complexType name="EnsemblTranscript">
    <xs:complexContent>
      <xs:extension base="mRNAGenomicIdentifier">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Gene" type="Gene" />
  <xs:complexType name="Gene">
    <xs:sequence>
      <xs:element name="genomicIdentifierSetCollection" type="GenomicIdentifierSet" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="messengerRNACollection" type="MessengerRNA" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="proteinCollection" type="Protein" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="ensemblGeneId" type="xs:string" />
    <xs:attribute name="entrezGeneId" type="xs:long" />
    <xs:attribute name="unigeneClusterId" type="xs:string" />
    <xs:attribute name="ensemblGeneAsOutput" type="xs:boolean" />
    <xs:attribute name="entrezGeneAsOutput" type="xs:boolean" />
    <xs:attribute name="unigeneAsOutput" type="xs:boolean" />
  </xs:complexType>
  <xs:element name="Protein" type="Protein" />
  <xs:complexType name="Protein">
    <xs:sequence>
      <xs:element name="genomicIdentifierSetCollection" type="GenomicIdentifierSet" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="messengerRNACollection" type="MessengerRNA" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="geneCollection" type="Gene" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="ensemblPeptideId" type="xs:string" />
    <xs:attribute name="refseqId" type="xs:string" />
    <xs:attribute name="uniprotkbPrimaryAccession" type="xs:string" />
    <xs:attribute name="genbankAccession" type="xs:string" />
    <xs:attribute name="ensemblPeptideAsOutput" type="xs:boolean" />
    <xs:attribute name="genbankProteinAsOutput" type="xs:boolean" />
    <xs:attribute name="refseqProteinAsOutput" type="xs:boolean" />
    <xs:attribute name="uniprotkbAsOutput" type="xs:boolean" />
  </xs:complexType>
  <xs:element name="GenBankProtein" type="GenBankProtein" />
  <xs:complexType name="GenBankProtein">
    <xs:complexContent>
      <xs:extension base="ProteinGenomicIdentifier">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConsensusIdentifierData" type="ConsensusIdentifierData" />
  <xs:complexType name="ConsensusIdentifierData">
    <xs:sequence>
      <xs:element name="genomicIdentifierSet" type="GenomicIdentifierSet" minOccurs="0" maxOccurs="1" />
      <xs:element name="genomicIdentifier" type="GenomicIdentifier" minOccurs="0" maxOccurs="1" />
      <xs:element name="genomicIdentifierSolution" type="edu.wustl.geneconnect:GenomicIdentifierSolution" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="frequency" type="xs:float" />
  </xs:complexType>
  <xs:element name="RefSeqProtein" type="RefSeqProtein" />
  <xs:complexType name="RefSeqProtein">
    <xs:complexContent>
      <xs:extension base="ProteinGenomicIdentifier">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OrderOfNodeTraversal" type="OrderOfNodeTraversal" />
  <xs:complexType name="OrderOfNodeTraversal">
    <xs:sequence>
      <xs:element name="genomicIdentifierSetCollection" type="GenomicIdentifierSet" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="sourceDataSource" type="DataSource" minOccurs="0" maxOccurs="1" />
      <xs:element name="linkType" type="LinkType" minOccurs="0" maxOccurs="1" />
      <xs:element name="childOrderOfNodeTraversal" type="OrderOfNodeTraversal" minOccurs="0" maxOccurs="1" />
      <xs:element name="parentOrderOfNodeTraversal" type="OrderOfNodeTraversal" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="GeneGenomicIdentifier" type="GeneGenomicIdentifier" />
  <xs:complexType name="GeneGenomicIdentifier">
    <xs:complexContent>
      <xs:extension base="GenomicIdentifier">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RefSeqmRNA" type="RefSeqmRNA" />
  <xs:complexType name="RefSeqmRNA">
    <xs:complexContent>
      <xs:extension base="mRNAGenomicIdentifier">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="mRNAGenomicIdentifier" type="mRNAGenomicIdentifier" />
  <xs:complexType name="mRNAGenomicIdentifier">
    <xs:complexContent>
      <xs:extension base="GenomicIdentifier">
        <xs:sequence />
        <xs:attribute name="genomicIdentifier" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UniProtKB" type="UniProtKB" />
  <xs:complexType name="UniProtKB">
    <xs:complexContent>
      <xs:extension base="ProteinGenomicIdentifier">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GenomicIdentifier" type="GenomicIdentifier" />
  <xs:complexType name="GenomicIdentifier">
    <xs:sequence>
      <xs:element name="consensusIdentifierData" type="ConsensusIdentifierData" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
  </xs:complexType>
  <xs:element name="GenomicIdentifierSet" type="GenomicIdentifierSet" />
  <xs:complexType name="GenomicIdentifierSet">
    <xs:sequence>
      <xs:element name="orderOfNodeTraversalCollection" type="OrderOfNodeTraversal" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="protein" type="Protein" minOccurs="0" maxOccurs="1" />
      <xs:element name="messengerRNA" type="MessengerRNA" minOccurs="0" maxOccurs="1" />
      <xs:element name="consensusIdentifierDataCollection" type="ConsensusIdentifierData" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="gene" type="Gene" minOccurs="0" maxOccurs="1" />
      <xs:element name="genomicIdentifierSolution" type="edu.wustl.geneconnect:GenomicIdentifierSolution" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="confidenceScore" type="xs:float" />
  </xs:complexType>
  <xs:element name="GenBankmRNA" type="GenBankmRNA" />
  <xs:complexType name="GenBankmRNA">
    <xs:complexContent>
      <xs:extension base="mRNAGenomicIdentifier">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MessengerRNA" type="MessengerRNA" />
  <xs:complexType name="MessengerRNA">
    <xs:sequence>
      <xs:element name="genomicIdentifierSetCollection" type="GenomicIdentifierSet" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="proteinCollection" type="Protein" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="geneCollection" type="Gene" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:long" />
    <xs:attribute name="ensemblTranscriptId" type="xs:string" />
    <xs:attribute name="genbankAccession" type="xs:string" />
    <xs:attribute name="refseqId" type="xs:string" />
    <xs:attribute name="ensemblTranscriptAsOutput" type="xs:boolean" />
    <xs:attribute name="genbankmRNAAsOutput" type="xs:boolean" />
    <xs:attribute name="refseqmRNAAsOutput" type="xs:boolean" />
  </xs:complexType>
  <xs:element name="UniGene" type="UniGene" />
  <xs:complexType name="UniGene">
    <xs:complexContent>
      <xs:extension base="GeneGenomicIdentifier">
        <xs:sequence />
        <xs:attribute name="genomicIdentifier" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>

